{% extends 'custom_layout.html' %}
{% block content %}
    <div class="mr-3 ml-3">
        <a href="{{ url_for('all_products') }}" class="btn btn-primary mb-5">Go Back</a>
        <h3 class="text-center">New Product Form</h3><br><br>

        <form class="form-inline" method="POST" autocomplete="off" id="my_form">
                <div class="form-group mr-3 mb-3">
                    <label for="name1">Name:</label>
                    <input type="text" class="form-control product" id="name1" placeholder="Name of product" name="name1">
                </div>
                <div class="form-group mr-3 mb-3">
                    <label for="quantity1">Quantity:</label>
                    <input type="text" class="form-control" id="quantity1" style="width: 200px;" placeholder="Quantity" name="quantity1">
                </div>
                <div class="form-group mr-3 mb-3" style="padding-right: 40rem;">
                    <label for="price1">Price: ₦</label>
                    <input type="text" class="form-control" id="price1" placeholder="Price" name="price1" style="width: 200px;">
                </div>
            
        </form><br>

        <div class="text-right">
            <button type="submit" class="btn btn-success" form="my_form">Submit</button>
        </div>
        <button id="add_form" class="btn btn-info mb-3">Add Form</button>
        
        <script>

              // prevent enter button from submitting the form
            $(document).ready(function() {
                $(window).keydown(function(event){
                if(event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
                });
            });


            

            // adding event listner to the first product input that will fill the unit price, total price, and short name dynaically.
            document.getElementsByClassName('product')[0].addEventListener('keyup', function() {
            
                var key = $(this).val();

                var price = $(this).attr('id').replace('name', '#price');
                var quantity = $(this).attr('id').replace('name', '#quantity');

                $text_price = $(price);
                $quantity = $(quantity);
                
                if(key.length >= 1){
                    $text_price.attr('required', '')
                    $quantity.attr('required', '')
                }
                else{
                    $text_price.removeAttr('required')
                    $quantity.removeAttr('required')
                }
            })


            let form = document.querySelector('#my_form')
            let btn = document.querySelector('#add_form')
            window.num = 1

            btn.addEventListener('click', () => {
                ++window.num
                let  newElement = document.createElement('div')
                let  newElement2 = document.createElement('div')
                let  newElement3 = document.createElement('div')

                newElement.classList.add('form-group')
                newElement.classList.add('mr-3')
                newElement.classList.add('mb-3')

                newElement2.classList.add('form-group')
                newElement2.classList.add('mr-3')
                newElement2.classList.add('mb-3')
                newElement2.style.paddingRight = '40rem'

                newElement3.classList.add('form-group')
                newElement3.classList.add('mr-3')
                newElement3.classList.add('mb-3')

                newElement.innerHTML = `
                <label for="name${window.num}">Name:</label>
                <input type="text" class="form-control product" id="name${window.num}" placeholder="Name of product" name="name${window.num}">
                `
                newElement2.innerHTML = `
                <label for="price${window.num}">Price: ₦</label>
                <input type="text" class="form-control" id="price${window.num}" style="width: 200px;" placeholder="Price" name="price${window.num}">
                `

                newElement3.innerHTML = `
                <label for="quantity${window.num}">Quantity:</label>
                <input type="text" class="form-control" id="quantity${window.num}" style="width: 200px;" placeholder="Quantity" name="quantity${window.num}">
                `


                form.append(newElement);
                form.append(newElement3);
                form.append(newElement2);
            })


            btn.addEventListener('click', () => {
                all_product = document.getElementsByClassName('product');
                for(i=1; i<all_product.length; i++){
                    all_product[i].addEventListener('keyup', function() {
                        var key = $(this).val();

                        var price = $(this).attr('id').replace('name', '#price');
                        var quantity = $(this).attr('id').replace('name', '#quantity');

                        $text_price = $(price);
                        $quantity = $(quantity);
                    
                        if(key.length >= 1){
                            $text_price.attr('required', '');
                            $quantity.attr('required', '');
                        }
                        else{
                            $text_price.removeAttr('required');
                            $quantity.removeAttr('required');

                        }
                    })
                }
            })
        </script>
    </div>

{% endblock %}